<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Online Store</title>
        
        <link rel="stylesheet" href="./styles/style.css">
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="block">
            <header>
                <img width="85px" src="./images/logo.png"/> 
                <a class="store">Online Store</a>
            </header> 
            <span class="home"><img width="15px" src="./images/home.png"/> &nbsp; >> &nbsp; <a style="color: #7E72F2;">eCommerce</a> &nbsp; >> &nbsp; Electronics</span>
            <div class="border">
                <div class="sidebar">
                    <span class="Filters">
                        Filters 
                        <button class="filters"> 
                            <img width="15px" src="./images/chevrons-right.png"/>    
                        </button>
                    </span>
                    <aside class="SideBar">
                        <div class="radio">
                            <h3>Multi Range</h3>
                            <div class="radio_filtres">
                                <input type="radio" name="radio">
                                <label>&dollar;10</label>
                            </div>
                            <div class="radio_filtres">
                                <input type="radio" name="radio">
                                <label>&dollar;10-&dollar;100</label>
                            </div>
                            <div class="radio_filtres">
                                <input type="radio" name="radio">
                                <label>&dollar;100-&dollar;500</label>
                            </div>
                            <div class="radio_filtres">
                                <input type="radio" name="radio">
                                <label>&dollar;500</label>
                            </div>
                            <div class="radio_filtres">
                                <input type="radio" name="radio">
                                <label>All</label>
                            </div>
                        </div>
                        <hr>
                        <div class="checkbox">
                            <h3>Category</h3>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Cell Phones</label>
                                </div>
                                <a>1920</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Computers & Tablets</label>
                                </div>
                                <a>1820</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Cell Phone Accessories</label>
                                </div>
                                <a>462</a>
                            </div>   
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Appliances</label>
                                </div>
                                <a>6556</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Audio</label>
                                </div>
                                <a>120</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>iPhone Accessories</label>
                                </div>
                                <a>353</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Cameras & Camcorders</label>
                                </div>
                                <a>45</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>iPhone Cases & Clips</label>
                                </div>
                                <a>456</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>TV & Home Theater</label>
                                </div>
                                <a>55</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Small Kitchen Appliances</label>
                                </div>
                                <a>10</a>
                            </div>
                        </div>
                        <hr>
                        <div class="checkbox">
                            <h3>Brand</h3>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Insigni</label>
                                </div>
                                <a>220</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Samsung</label>
                                </div>
                                <a>120</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Apple</label>
                                </div>
                                <a>320</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>HP</label>
                                </div>
                                <a>32</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Sony</label>
                                </div>
                                <a>520</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Metra</label>
                                </div>
                                <a>55</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Dyne</label>
                                </div>
                                <a>120</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>LG</label>
                                </div>
                                <a>98</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Canon</label>
                                </div>
                                <a>99</a>
                            </div>
                            <div class="checkbox_filtres">
                                <div>
                                    <input type="checkbox">
                                    <label>Speck</label>
                                </div>
                                <a>575</a>
                            </div>
                        </div>
                    </aside> <br>
                        <button class="Clear"> 
                            CLEAR ALL FILTERS   
                        </button>
                </div>
                <div class="product">
                    <span class="Results">
                        7,618 results found
                        <button class="results"> 
                            <img width="15px" src="./images/Path (1).png"/>    
                        </button>
                    </span> 
                    <input class="search" type="search" id="search" placeholder="Search">
                    <div class="products">
                        <div class="wrapper">
                            <img src="./images/apple-watch.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    3.4 &star;
                                </div> 
                                <div class="price"> 
                                    $399
                                </div>
                            </div>
                            <h3> &nbsp; Apple Watch Series 4 GPS</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/jbl-speaker.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    3.9 &star;
                                </div> 
                                <div class="price"> 
                                    $199
                                </div>
                            </div>
                            <h3> &nbsp; JBL Speaker</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/iphone-x.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    3.7 &star;
                                </div> 
                                <div class="price"> 
                                    $899
                                </div>
                            </div>
                            <h3> &nbsp; Apple iPhone X 128GB</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/beats-headphones.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    4.4 &star;
                                </div> 
                                <div class="price"> 
                                    $459
                                </div>
                            </div>
                            <h3> &nbsp; Beats Headphones</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/macbook-pro.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    4.7 &star;
                                </div> 
                                <div class="price"> 
                                    $2499
                                </div>
                            </div>
                            <h3> &nbsp; Apple Macbook Pro 512GB SSD</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/ipad-pro.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    4.3 &star;
                                </div> 
                                <div class="price"> 
                                    $899
                                </div>
                            </div>
                            <h3> &nbsp; Apple iPad Pro 64GB</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/homepod.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    3.9 &star;
                                </div> 
                                <div class="price"> 
                                    $399
                                </div>
                            </div>
                            <h3> &nbsp; Apple Homepod</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/jlab-audio-wireless.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    4.1 &star;
                                </div> 
                                <div class="price"> 
                                    $2499
                                </div>
                            </div>
                            <h3> &nbsp; JBuds Air Wireless Bluetooth...</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <img src="./images/magic-mouse.png"/>
                            <div class="rate-block">
                                <div class="rate">
                                    4.4 &star;
                                </div> 
                                <div class="price"> 
                                    $99
                                </div>
                            </div>
                            <h3> &nbsp; Apple Magic Mouse</h3>
                            <h5> &nbsp; Redesigned from scratch and completely revised</h5> <br>
                            <div class="buttons-block">
                                <button class="wishlist">
                                    <img width="15px" src="./images/Path.png"/> &nbsp; &nbsp; <b>WISHLIST</b>
                                </button>
                                <button class="buy">
                                    <img width="15px" src="./images/shopping-bag.png"/> &nbsp; &nbsp; <b>ADD TO CART</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a class="pagination_arrow" href="#"><code><b><</b></code></a>
                <div class="pagination_numbers">
                    <a href="#"><b>1</b></a>
                    <a href="#"><b>2</b></a>
                    <a href="#"><b>3</b></a>
                    <a href="#"><b>4</b></a>
                    <a href="#"><b>5</b></a>
                    <a class="active" href="#" data-pagination><b>6</b></a>
                    <a href="#" data-pagination><b>7</b></a>
                    <a href="#" data-pagination><b>8</b></a>
                    <a href="#" data-pagination><b>9</b></a>
                    <a href="#" data-pagination><b>10</b></a>
                </div>
                <a class="pagination_arrow" href="#"><code><b>></b></code></a>
            </div>
        </div>
    </body>
</html>
